/* ======================= */
/* Default - Footer layout */
/* ======================= */
.mainFooter {
  display: grid;
}

@media (min-width: 768px) {
  .mainFooter {
    grid-template-columns: repeat(auto-fit, minmax(220px, 300px));
  }
}

@media (max-width: 767.98px) {
  .mainFooter {
    grid-template-columns: repeat(auto-fit, minmax(100px, 110px));
    justify-content: space-between;
  }
}

/* === Footer-Links === */
.footer-links {
  display: flex;
  flex-direction: row;
}

.footer-links .icon-text,
.footer-links .icon-map {
  display: flex;
  align-items: center;
}

.footer-links .icon-map {
  align-items: baseline;
}
