/* Carousel from https://dev.to/coderjay06/how-to-build-a-carousel-from-scratch-531c */

.carousel {
  max-width: 600px;
  position: relative;
  margin: 0 auto;
  /* background: #abe8e5; */
  padding: 10px;
}

.carousel .title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.carousel-item .title {
  font-size: 20px;
  margin-bottom: 10px;
}
.carousel-item .text1 {
  min-height: 250px;
}

.carousel .carousel-item,
.carousel .carousel-item-hidden {
  display: none; /* hide all slide images not currently being viewed */
}

.carousel .carousel-item-visible {
  display: grid; /* show current slide image */
  animation: fadeVisibility 0.5s; /* for fading effect when switching between slides */
}

.carousel .carousel-item .image img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 50%;
}

/* Navigation control styles */
.carousel .carousel-actions {
  display: flex;
  width: 100%;
  justify-content: space-between; /* put space between the navigation buttons */
  top: 270px;
  transform: translateY(-50%);
  position: relative;
}

.carousel .carousel-actions button {
  border-radius: 50px;
  background-color: #c9f4f2;
  border: 1px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.carousel .carousel-actions button#carousel-button-prev {
  margin-left: 20px; /* prevent previous button from touching the side*/
}

.carousel .carousel-actions button#carousel-button-next {
  margin-right: 20px; /* prevent next button from touching the side*/
}

.carousel-dots {
  text-align: center;
}

.dot {
  opacity: 0.7; /* gray out dots for slides not being visted */
}

.dot:focus {
  border: 1px solid black; /* dot for currently visited slide */
}

/* hanlde smooth transitions between slides */
@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
