/* ======================== */
/* Default - Nav-bar styles */
/* ======================== */
/* https://nextjs.org/docs/basic-features/built-in-css-support */
/* 
==================================
Navigation bar style 
==================================
*/

.navLink {
  font: var(--nav-links-font);
  color: var(--nav-links-color);
  text-align: left;
  letter-spacing: 0;
  opacity: 1;
  text-decoration: none !important;
}

.navLink.active {
  color: var(--navlinks-active_color);
}

.navlinksWrapper a {
  cursor: pointer;
  padding: 0;
  white-space: nowrap;
}

.navlinksWrapper a:hover {
  color: var(--navlinks-hover_color);
}

/* wrapperHeader
---
*/

.wrapperHeader {
  top: 0;
  width: 100%;
  background-color: var(--wrapperHeader-background);
  align-items: flex-start;
  padding: 17px;
}

/* navLogo
---
*/

.navLogo {
  display: flex;
  align-self: center;
}

/* navlinksWrapper (collection of navLinks)
---
*/

.navlinksWrapper {
  justify-content: space-between;
}

/* Hamburger & controls
---
*/

/* -------------------------- */
/* Full-sized desktop screens */
/*  (or until nav wraps)      */
/* -------------------------- */

@media only screen and (min-width: 992px) {
  .wrapperHeader .hamburger {
    display: none;
  }

  .navlinksWrapper {
    flex-direction: row;
    align-self: center;
    align-items: center;
    justify-content: space-between;
  }

  .navlinksWrapper .linkWrapper {
    padding: 0 1rem;
  }
}

/* --------------------------------- */
/* < 992: Typically tablets or phone */
/* --------------------------------- */

@media (max-width: 991.98px) {
  .wrapperHeader {
    height: 100%;
    padding: 10px;
  }

  .navlinksWrapper {
    flex-direction: column;
  }

  .dropNav {
    align-items: flex-end;
    margin-top: 50px;
  }

  .navLogo img {
    margin-left: 0;
  }

  #hamburger, #hamburger-x {
    justify-self: flex-end;
    cursor: pointer;
  }
}
